params {
	// Input options
	samples                         = null
	star_indexdir                   = null
	reference                       = null
	gtf                             = null
	bed                             = null

	// Output options
	outdir                          = 'results'
	tracedir                        = "${params.outdir}/pipeline_info"

	// Reference genome indexing - STAR
	star_genomeGenerate_threads     = 4

	// QC - FastQC
	fastqc_threads                  = 2
	
	// Trimming and filtering - TrimGalore!
	trimgalore_threads              = 2

	// Alignment - STAR
	star_align_threads              = 2
	star_ignore_sjdbgtf             = false
	
	// Quantification - Subread FeatureCounts
	featurecounts_threads            = 4
}

docker {
	enabled = true
	runOptions = "-u=\$UID --rm -v /home:/home"
}

/*
Work directory
*/
cleanup = false

/*
Execution reports
*/
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}


includeConfig 'conf/modules.config'