process {
	withName:star_index_genome {
		ext.args   = [
				"--runThreadN ${params.star_genomeGenerate_threads}",
				"--genomeSAindexNbases 10"
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/00_genome_index/" },
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:afaaa4c6f5b308b4b6aa2dd8e99e1466b2a6b0cd-0'
	}

	withName:fastqc {
		ext.args   = [
				"--threads ${params.fastqc_threads}",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/01_fastqc/$sampleID" },
				pattern: "*html",
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/fastqc:0.11.9--0'
	}

	withName:trimgalore {
		ext.args   = [
				"--cores ${params.trimgalore_threads}",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/02_trimgalore/" },
				pattern: "*.gz",
				mode: 'symlink',
				saveAs: { filename -> filename.replace("val", "trimmed") }
			],
			[
			path: { "$params.outdir/02_trimgalore/fastqc/${sampleID}" },
				pattern: "*{html,zip}",
				mode: 'symlink',
				saveAs: { filename -> filename.replace("val", "trimmed") }
			]
		]

		container = 'quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0'
	}

	withName:star_align {
		ext.args   = [
				"--runThreadN ${params.star_align_threads}",
				"--outSAMtype BAM Unsorted SortedByCoordinate",
				params.star_ignore_sjdbgtf ? '' : "--sjdbGTFfile $params.gtf",
				"--readFilesCommand zcat"
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/03_star_align/" },
				mode: 'symlink',
				saveAs: { filename -> filename.replace("Aligned.sortedByCoord.out", "sorted") }
			]
		]

		container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:afaaa4c6f5b308b4b6aa2dd8e99e1466b2a6b0cd-0'
	}

	withName:featurecounts {
		ext.args   = [
				"-T ${params.featurecounts_threads}",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/04_read_counts/" },
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/subread:2.0.1--hed695b0_0'
	}

	withName:picard_markduplicates {
		ext.args   = [
				" ",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/05_picard_markdup/" },
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/picard:2.26.10--hdfd78af_0'
	}

	withName:qualimap {
		ext.args   = [
				" ",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/06_qualimap/" },
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/qualimap:2.2.2d--1'
	}

	withLabel: 'rseqc' {
		ext.args   = [
				" ",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/07_rseqc/$sampleID" },
				mode: 'symlink',
				pattern: "*.{txt,pdf,log,xls,bed}"
			]
		]

		container = 'quay.io/biocontainers/rseqc:3.0.1--py37h516909a_1'
	}

	withName: 'rseqc_bamstat' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_innerdistance' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_inferexperiment' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_junctionannotation' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_junctionsaturation' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_readdistribution' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'rseqc_readduplication' {
		ext.args   = [
				" ",
			].join(' ').trim()
	}

	withName: 'multiqc' {
		ext.args   = [
				" ",
			].join(' ').trim()

		publishDir = [
			[
				path: { "$params.outdir/08_multiqc" },
				mode: 'symlink'
			]
		]

		container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
	}
}